@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


.topBar{
    width: 100vw;
    height: 8vh;

    background-color: aliceblue;
}

.mainScreen{
    width: 100vw;
    height: 84vh;
}

.bottomNav{
    width: 100vw;
    height: 8vh;
}

#mainLogo{
    width: 120px;
    height: 100%;
    float: left;
    background-image: url(../images/MainLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#userInfo{
    width: 160px;
    height: 100%;
    float: right;
}

.profile-user-img-area{
    float: left;
    padding-top: 10px;
}

.profile-user-img{
    width: 5vh;
    height: 5vh;
    border-radius: 70%;
    overflow: hidden; 
}

.profile-user-img-img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.profile-user-info-area{
    float: left;
    width: 100px;
    height: 100%;
}

.profile-user-info{
    margin-left: 5px;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.nav-content-1{
    float: left;
    height: 100%;
    width: 15vw;

    cursor: pointer;

    margin-left: 15vw;

    background-image: url(../images/icons/icon_home_color.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-content-2{
    float: left;
    height: 100%;
    width: 15vw;

    margin-left: 2.5vw;

    cursor: pointer;

    background-image: url(../images/icons/icon_activity.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-content-3{
    float: left;
    height: 100%;
    width: 15vw;

    margin-left: 2.5vw;

    cursor: pointer;

    background-image: url(../images/icons/icon_location.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-content-4{
    float: left;
    height: 100%;
    width: 15vw;

    margin-left: 2.5vw;

    cursor: pointer;

    background-image: url(../images/icons/icon_profile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
